<#@ template language="C#" hostspecific="True" debug="True" #>
<#@ output extension="txt" #>
<#@ include file="T4Toolbox.tt" #>
<#@ include file="$(SolutionDir)..\..\tools\TinyMVVM\DotNet4\CodeGen\ViewModelTestsTemplate.tt" #>
<#
// <copyright file="Tests.tt" company="Microsoft">
//  Copyright © Microsoft. All Rights Reserved.@
// </copyright>
	string dslFile = Host.ResolvePath(@"..\..\RichRememberTheMilk\ViewModel\ViewModel.mvvm");
	
	ViewModelTestsTemplate viewModelTemplate = new ViewModelTestsTemplate();
	viewModelTemplate.File = dslFile;
	viewModelTemplate.Output.File = "ViewModelTests.cs";
	viewModelTemplate.UsingNamespace = "RichRememberTheMilk.ViewModel";
	viewModelTemplate.Namespace = "RichRememberTheMilk.Tests.ViewModel";
	viewModelTemplate.Render();
#>
